<div class="modal-container" id="otpModal">
    <div class="modal-content">
      <span class="close-modal" id="close-otp-modal">&times;</span>
      <h1 class="otp-title">OTP Verification</h1>
      <p>Enter the OTP you received to <strong>+20 102 2233 444</strong></p>
      <div class="otp-input-container">
        <input type="text" maxlength="1" class="otp-input">
        <input type="text" maxlength="1" class="otp-input">
        <input type="text" maxlength="1" class="otp-input">
        <input type="text" maxlength="1" class="otp-input">
      </div>
      <div class="otp-actions">
        <a href="#" class="resend-otp">Resend OTP</a>
        <button type="button" class="verify-btn">Verify Me</button>
      </div>
    </div>
  </div>
  